page {
	min-height: 100%;
	background-color: #EFEFEF;
}
.mask{
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
}
.gray {
	color: #9e9e9e;
}

.red {
	color: #e33;
}

.white {
	color: #FFFFFF;
}

.default-color {
	color: #FC4041;
}
.bg-white{
	background-color: #FFFFFF;
}
.bg-default-color {
	background-color: #FC4041;
}
.blod {
	font-weight: bold;
}

.small {
	font-size: 22upx;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.flex {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-r-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-r-between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.flex-r-around {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.flex-c-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-c-between {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.flex-c-around {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.mb-50 {
	margin-bottom: 50upx;
}

.mb-150 {
	margin-bottom: 150upx;
}

/* #ifdef H5 */
.h5-pb {
	padding-bottom: 150upx;
}

/* #endif */
.fixed-bottom {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 999;
}

.font-b {
	font-size: 36upx;
}

.border-bottom {
	border-bottom: 2upx solid #F1F1F1;
}

.rotate {

	-webkit-animation: circle 1s infinite linear;
}

@-webkit-keyframes circle {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.border-circle-lr{
	border-radius: 100upx;
}
.cut-off{
	height: 20upx;
	background-color: #F5F5F5;
}
.sigle-line-text {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: left;
	}
	
	.pd-box {
		padding: 20upx 30upx;
	}
	
	.pd-lr {
		padding: 0upx 30upx;
	}
	
	.mgl-10 {
		margin-left: 10upx;
	}
	
	.mgr-10 {
		margin-right: 10upx;
	}
	
	.mgl-20 {
		margin-left: 20upx;
	}
	
	.mgr-20 {
		margin-right: 20upx;
	}
	
	.mgl-30 {
		margin-left: 30upx;
	}
	
	.mgr-30 {
		margin-right: 30upx;
	}
	.mgr-60 {
		margin-right: 60upx;
	}